.hamburger-menu {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-50%,-50%);
  z-index: 3;
}
.hamburger-menu button {
  position: relative;
  width: 30px;
  height: 22px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}
.hamburger-menu button span {
  position: absolute;
  height: 3px;
  background: #fff;
  width: 100%;
  left: 0px;
  top: 0px;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}
.hamburger-menu button span:nth-child(2) {
  top: 9px;
}
.hamburger-menu button span:nth-child(3) {
  top: 18px;
}
.hamburger-menu [data-state="open"] span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}
.hamburger-menu [data-state="open"] span:nth-child(2) {
  width: 0%;
  opacity: 0;
}
.hamburger-menu [data-state="open"] span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10px;
}

nav {
  position: absolute;
  height: auto;
  top: 0;
  left: 0;
  background: #202020;
  color: #fff;
  width: 200px;
  text-align: center;
  z-index: 2;
  padding-top: 50px;
  padding-bottom: 10px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.2s cubic-bezier(0.52, 0.01, 0.8, 1);
  transition: 0.2s cubic-bezier(0.52, 0.01, 0.8, 1);

  border-radius: 0 0 20px 0;
}
nav a {
  display: block;
  font-size: 1.75em;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  transition: 0.2s
}
nav a:hover {
  text-decoration: none;
  font-size: 2em;
  font-weight: bolder;
  color: var(--primary);
  transition: 0.2s;
}
nav[data-state="open"] {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
